<!-- Sidebar content -->
<div class="col l3 hide-on-med-and-down center-align">
  <div class="sidebar">
    <!-- SIDEBAR CARD EXAMPLE - BEGINS -->
    <!-- <div class="card-panel grey lighten-5 center-align">    
      ** Stuff goes here **
    </div> -->
    <!-- SIDEBAR CARD EXAMPLE - ENDS -->
    <div class="card-panel grey lighten-5">
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 1 - BEGINS -->
      <div class="row jngt-sidebar-space-top jngt-sidebar-space-bottom">
        <div class="col-md-12">
          <a class="twitter-timeline" href="https://twitter.com/technicalissues" data-widget-id="627289384950349824">Tweets by @technicalissues</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 1 - ENDS -->
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 2 - BEGINS -->
      <!-- <div class="row jngt-sidebar-space-top jngt-sidebar-space-bottom">
        <div class="col-md-12">
          **Sidebar card with rows example 2 - content**
        </div>
      </div> -->
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 2 - ENDS -->
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 3 - BEGINS -->
      <!-- <div class="row jngt-sidebar-space-top">
        <div class="col-md-12">
          **Sidebar card with rows example 3 - content**
        </div>
      </div> -->
      <!-- SIDEBAR CARD WITH ROWS EXAMPLE 3 - ENDS -->
    </div>
  </div>
</div>
<!-- /Sidebar content -->
